{# Plantilla de la aplicación #}
{% extends 'base.html.twig' %}
{# Titulo #}
{% block titulo %}
  Página principal
{% endblock %}
{# Contenido #}
{% block contenido %}
    <!-- SECCION DE SLIDES -->
  <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url({{asset('img/slide1.jpg')}})">
            <div class="carousel-caption d-none d-md-block">
              <h3>Sitios Web</h3>
              <p>Llega a más gente con tu sitio web integrado con redes sociales.</p>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url({{asset('img/slide2.jpg')}})">
            <div class="carousel-caption d-none d-md-block">
              <h3>Social Media </h3>
              <p>Estrategias para marketing y llegar a tus clientes efectivamente.</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url({{asset('img/slide4.jpg')}})">
            <div class="carousel-caption d-none d-md-block">
              <h3>Compatible con SmartPhones</h3>
              <p>No pierdas visitas, nuestros sitios web son 100% compatibles con SmartPhones
              .</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

  <!-- Portfolio Section -->
    <div class="container">
      <h1 class="my-4">Servicios</h2>
      <div class="row">
      {% for servicio in servicios %}
        <div class="col-lg-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="{{ path('servicio',{'id':servicio.id}) }}"><img class="card-img-top" src="{{asset('img/slide1.jpg')}}" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="{{ path('servicio',{'id':servicio.id}) }}">{{ servicio.nombre }}</a>
              </h4>
              <p class="card-text">{{ servicio.descripcion }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
    <!-- /.row -->
{% endblock %}